.sidebarContainer
{
    height: 100vh;
}

.sidebarContainer .header
{
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    background-color: var(--primary);
}

.sidebarContainer .header img
{
    width: 75%;
    cursor: pointer;
}

.sidebarContainer .content
{
    background-color: var(--primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.sidebarContainer .item
{
    font-family: Ubuntu;
}

.sidebarContainer .footer
{
    background-color: var(--primary);
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}