#company header
{
    width: 100%;
    background: #fff;

    padding: 2rem;
    margin-bottom: 2rem;
}

#company header .group
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#company header .group:first-of-type
{
    justify-content: center;
    gap: 1rem;
}

#company header .group h1
{
    font-family: Ubuntu;
    font-size: 2.5rem;
}

#company header .group button
{
    border: none;
    border-radius: 2rem;

    height: 5rem;
    width: 15rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    background-color: rgb(23, 143, 12);
    cursor: pointer;
    transition: 0.5s;
}

#company header .group button:hover
{
    background-color:  rgb(32, 190, 17);
}

#company header .group button span
{
    font-family: Ubuntu;
    font-size: 1.75rem;
}

#company header .group .inputField
{
    height: 4rem;
    width: 25rem;

    border: rgb(138, 138, 138) solid 1px;
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    
    padding: 1rem;
}

#company header .group .inputField input
{
    width: 100%;
    height: 100%;

    border: none;

    font-family: Roboto;
    font-size: 1.5rem;
}

#company main
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#company main .line
{
    align-self: center;
    justify-self: center;

    width: 75%;
    height: 30rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    background: #fff;
    border-radius: 2rem;
    padding: 1rem;
}

#company main .line img
{
    width: 10rem;
}

#company main .line .lineText
{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

#company main .line h1
{
    font-family: Ubuntu;
    font-size: 2.5rem;

    color: var(--primary-dark);

    cursor: pointer;
    transition: 0.5s;
}

#company main .line h1:hover
{
    color: var(--primary-light)
}

#company main .line .lineText h2
{
    font-family: Roboto;
    font-size: 1.5rem;
}

#company main .line button
{
    width: 50px;
    height: 50px;
    border-radius: 100px;

    border: none;
    background: none;

    cursor: pointer;
    transition: 0.5s;
}

#company main .line button:hover
{
    background-color: var(--background);
}